<button type="button" class="aqb-btn aqb-split2-btn" data-aqb-roll="{{roll}}" data-aqb-key="{{key}}" {{#if title}}title="{{title}}"{{/if}} {{#if disabled}}disabled{{/if}}>
  <span class="aqb-split2-main" title="{{label}}">{{label}}</span>
  <span class="aqb-split2-sep">|</span>
  <span class="aqb-split2-right">
    {{#if infoIcon}}
      <i class="{{infoIcon}}" aria-hidden="true"></i>
    {{else}}
      {{info}}
    {{/if}}
  </span>
</button>
