<div class="aqb-features">
  {{#if buttonsDisabled}}
    <div class="aqb-features-content">
      <p>未绑定角色。请先选择一个你拥有的 Token。</p>
    </div>
  {{else}}
    <div class="aqb-features-content">
      {{#if hasFeatureSections}}
        {{#each featureSections}}
          <section class="aqb-section aqb-feature-section">
            <h1>{{title}}</h1>
            <div class="aqb-feature-list" data-aqb-sort-container="{{sortKey}}">
              {{#each items}}
                {{> "modules/alioths-quickdraw-bar/templates/partials/components/item-button.hbs" roll="item" key=id icon=icon label=name info=usesText disabled=disabled favorited=favorited sortSection=../sortKey }}
              {{/each}}
            </div>
          </section>
        {{/each}}
      {{else}}
        {{#if hasFeatureItems}}
          <div class="aqb-feature-list" data-aqb-sort-container="{{featureItemsSortKey}}">
            {{#each featureItems}}
              {{> "modules/alioths-quickdraw-bar/templates/partials/components/item-button.hbs" roll="item" key=id icon=icon label=name info=usesText disabled=disabled favorited=favorited sortSection=../featureItemsSortKey }}
            {{/each}}
          </div>
        {{else}}
          <p>该角色没有可用的特性。</p>
        {{/if}}
      {{/if}}
    </div>
  {{/if}}
</div>